<table class="Center" border=1>
<tr>
    <th>Trail Name</th>
    <th>Description</th>
    <th>Length</th>
    <th>Elevation Change</th>
    <th>Latitude</th>
    <th>Longitude</th>
</tr>
<tr>
    <td>@ViewBag.trail.name</td>
    <td>@ViewBag.trail.description</td>
    <td>@ViewBag.trail.length miles</td>
    <td>@ViewBag.trail.elevationChange feet</td>
    <td>@ViewBag.trail.latitude</td>
    <td>@ViewBag.trail.longitude</td>
   
</tr>
</table><br><br>
<button><a href="/">Go Home</a></button>