@{
    ViewData["Title"] = "Wall";
}

@model UserDashboard.Models.Post

<p><a asp-controller="Login" asp-action="Logoff">log off</a></p>

<form asp-controller="Wall" asp-action="PostMessage" method="post">
  <fieldset>
    <legend>Post a message</legend>
    <textarea asp-for="PostContent"></textarea>
    <button>Post a message</button>
  </fieldset>
</form>

<dl>

{
    <dt>@User.FirstName @User.LastName - @post.CreatedAt.ToString("MMMM d yyyy")</dt>
    <dd>@User.PostContent</dd>
    @foreach (var comment in post.Comments)
    {
      <h5>@comment.User.FirstName @comment.User.LastName - @comment.CreatedAt.ToString("MMM d yyyy")</h5>
      <h6>@comment.CommentText</h6>
    }
    <form asp-controller="Wall" asp-action="PostComment" method="post">
      <fieldset>
        <legend>Post a comment</legend>
        <textarea name="CommentContent"></textarea>
        <input type="hidden" name="PostId" value="@post.PostId"/>
        <button>Post a comment</button>
      </fieldset>
    </form>
}
</dl>


